# {{ ansible_managed }}
{
    email {{ ptero_admin_email }}
}

{{ ptero_panel_fqdn }} {
    encode gzip
    reverse_proxy panel:80 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
        header_up Host {host}
    }
}
