---
# {{ ansible_managed }}
name: pterodactyl

services:
  database:
    image: {{ pterodactyl_panel_db_image }}
    container_name: pterodactyl-database
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - "{{ pterodactyl_panel_data_dir }}/database:/var/lib/mysql"
    environment:
      MYSQL_DATABASE: "{{ pterodactyl_panel_db_name }}"
      MYSQL_USER: "{{ pterodactyl_panel_db_user }}"
      MYSQL_PASSWORD: "{{ pterodactyl_panel_effective_db_password }}"
      MYSQL_ROOT_PASSWORD: "{{ pterodactyl_panel_effective_db_root_password }}"
    networks:
      - shared

  cache:
    image: {{ pterodactyl_panel_cache_image }}
    container_name: pterodactyl-cache
    restart: always
    networks:
      - shared

  panel:
    image: {{ pterodactyl_panel_image }}
    container_name: pterodactyl-panel
    restart: always
    depends_on:
      - database
      - cache
    env_file:
      - .env
    volumes:
      - "{{ pterodactyl_panel_data_dir }}/var:/app/var"
      - "{{ pterodactyl_panel_data_dir }}/nginx:/etc/nginx/http.d"
      - "{{ pterodactyl_panel_data_dir }}/logs:/app/storage/logs"
    networks:
      - shared

networks:
  shared:
    name: {{ pterodactyl_panel_shared_network }}
    external: true
