# {{ ansible_managed }}
{{ pterodactyl_panel_fqdn }} {
    encode gzip
    reverse_proxy panel:80 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
        header_up Host {host}
    }
}

{% if pterodactyl_panel_wings_fqdn | length > 0 %}
{{ pterodactyl_panel_wings_fqdn }} {
    encode gzip
    reverse_proxy {{ pterodactyl_panel_wings_backend }} {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
        header_up Host {host}
{% if pterodactyl_panel_wings_backend.startswith('https') %}
        transport http {
            tls_insecure_skip_verify
        }
{% endif %}
    }
}
{% endif %}
