---
# {{ ansible_managed }}
name: caddy

services:
  caddy:
    image: {{ caddy_image }}
    container_name: {{ caddy_container }}
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ caddy_data_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro"
      - "{{ caddy_data_dir }}/conf.d:/etc/caddy/conf.d:ro"
      - "{{ caddy_data_dir }}/data:/data"
      - "{{ caddy_data_dir }}/config:/config"
    extra_hosts:
      - "host.containers.internal:host-gateway"
      - "host.docker.internal:host-gateway"
    networks:
      - shared

networks:
  shared:
    name: {{ caddy_shared_network }}
    external: true
