# {{ ansible_managed }}
{{ dashy_fqdn }} {
    encode gzip
    reverse_proxy dashy:{{ dashy_container_port }} {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
        header_up Host {host}
    }
}
