---
# {{ ansible_managed }}
name: dashy

services:
  dashy:
    image: {{ dashy_image }}
    container_name: dashy
    restart: always
    # The image runs as the non-root "node" user. Add the host dashy
    # group so node can read/write the group-owned user-data files.
    user: node
    group_add:
      - "{{ dashy_gid }}"
    volumes:
      - "{{ dashy_data_dir }}/user-data:/app/user-data"
    networks:
      - shared

networks:
  shared:
    name: {{ dashy_shared_network }}
    external: true
