# {{ ansible_managed }}
{{ jellyfin_fqdn }} {
    encode gzip
    reverse_proxy jellyfin:{{ jellyfin_container_port }} {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote_host}
        header_up Host {host}
    }
}
